


$Primary: #211E47;
$Secondary: rgb(78, 150, 167);
$Tertiary: #FFB856; 

$MainFont: 'Suranna', serif;
$AltFont: 'Raleway', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  // border-bottom: 3px solid $Tertiary;
  background-color: $Secondary;
}

.mainBrand {
  color: $Secondary;
  font-family: $MainFont;
  font-size: 40px;
}

.dropdown-content {
  color: $Primary;
}

.aboutCards {
  display: flex;
  justify-content: space-evenly;
}

.hero {
  text-align: center;
}

p {
  font-family: $AltFont;
}

.searchAndContent {
  display: flex;
}

.showButtons {
  display: none;
}

.thisRow:hover > .showButtons {
  display: block;
}

.ddButtons {
  display: inline-flex;
}




// slider

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}



// Menu Scroller

.townScroller {
  width: auto;
  height: 300px;
  overflow-y: auto;
}


.signupFieldContainer {
    
}

.signupButton {
  margin-top: 20px;
}

.loginMasterContainer {
  display: grid;
  width: 50%;
  margin: auto;
  margin-top: 40px;
}

.heroLogin {

}

.landingTextWriteup {
  margin-top: 14em;
}

.menuInputs {
  width: 95%;
  display: flex;
}

.searchMenu {
  width: 12%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackBar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackBar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.landingButton {
  text-decoration: none;
  color: $Secondary;
}

.mainBackground {
    background-image: url(../src/assets/checkered_pattern_@2X.png);
    padding-bottom: 100%;
}