<div class="jumbotron">
    <h1 style="text-align: center; text-decoration: underline;">About Us</h1>
</div>
<div class="row">
<div class="card col-4">
    <div class="card-body">
        <h4 class="card-title" style="">Kevin Conway</h4>
                <h5 class="card-text">Full-Stack Web Developer</h5>
    <img class="card-img" src="http://placehold.it/200x200" alt="">
        <div class='row' style="">
        <p class="col-4"><a href="#">Github</a></p>
        <p class="col-4"><a href="#">Linkedin</a></p>
        <p class="col-4"><a href="#">Heroku</a></p>
        </div>
    </div>
</div>
<div class="card col-4">
    <div class="card-body">
        <h4 class="card-title" style="">Bingxi Du</h4>
                <h5 class="card-text">Full-Stack Web Developer</h5>
    <img class="card-img" src="http://placehold.it/200x200" alt="">
        <div class='row' style="">
        <p class="col-4"><a href="#">Github</a></p>
        <p class="col-4"><a href="#">Linkedin</a></p>
        <p class="col-4"><a href="#">Heroku</a></p>
        </div>
    </div>
</div><div class="card col-4">
    <div class="card-body">
        <h4 class="card-title" style="">Chris Wood</h4>
                <h5 class="card-text">Full-Stack Web Developer</h5>
    <img class="card-img" src="http://placehold.it/200x200" alt="">
        <div class='row' style="">
        <p class="col-4"><a href="#">Github</a></p>
        <p class="col-4"><a href="#">Linkedin</a></p>
        <p class="col-4"><a href="#">Heroku</a></p>
        </div>
    </div>
</div>
</div>