
<div class="container">
  <div class="jumbotron text-center">
    <h1>Real Solution, bring you the finds</h1>
  </div>

  <div class="row text-left">
  <div class="col">
    <h2 class="mb-3">Burgers ordered!</h2>
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
         {{> burgers/burger-block-left}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col">
    <img src="assets/img/burger.jpeg" class="rounded" alt="Big mac" width="304">
  </div>

  <div class="col">
  <h2 class="mb-3">Burgers are devoured!</h2>
  <ul>
  {{#each burgers}}
    {{#if devoured}}
     {{> burgers/burger-block-right}}
    {{/if}}
  {{/each}}
  </ul>
  </div>
  </div>

  <div class="row mt-4 mb-2 text-center">
    <div class="col">
       <h2>Order your burger, here !</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col text-center">
     <form class="create-form">
        <div class="form-group">
           <label for="bu">What kind of burger:</label>
           <input type="text" id="bu" name="name">
        </div> <button type="submit">Order</button>
      </form>
    </div>
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/Heicyberg"> Heicyberg</a>
  </div>
  <!-- Copyright -->

  </footer>
<!-- Footer -->
</div>






