.list-group-item {
  line-height: 2.5;
}

.navLogo {
  color: #211E47;
}

body {
  background-image: url('../../public/assets/crossline-dots.png')
}

/* Primary: #211E47
   Secondary: #3A707C
   Tertiary: #FFB856 */